/*selector{
	Property:value;
}*/

body {
	background-image: url(background2.jpg);
	background-size: cover;
}
h1 {
	color: steelblue;
	text-align: center;
	font: 800;
	font-family: palatino;
	font-size: 80px;
}
h2 {
	color: steelblue;
	font: 600;
	font-family: nunito;
}
h3 {
	color: darkblue;
	font: 400;
	font-family: nunito;
}
li {
	color: steelblue;
	list-style: none;
	font-family: nunito;
	display: inline-grid;
}
a {
	font-family: nunito;
}